html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Todo List
  body
    .content
      .todo
        .todo__name
          input(class="todo__value" type="text" disabled value="My Todo List")
          button(class="button button-todoName")
            img(class="button-create__icon" src="/assets/img/create-black-18dp.svg" width="18px" height="18px" alt="create")
        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label todo__newInput")
          input(class="mdl-textfield__input" type="text" id="sample3")
          label(class="mdl-textfield__label" for="sample3") Add New Todo
        ul.todo__list
          li.item
            label(class="mdl-checkbox mdl-js-checkbox" for="checkbox-1")
              input(type="checkbox" id="checkbox-1" class="mdl-checkbox__input todo__check" data="1")
              span(class="item__title mdl-checkbox__label" data="1") go in bathroom
            button(class="mdl-button mdl-js-button mdl-button--icon" data="1")
              img(src="/assets/img/delete_sweep-black-18dp.svg", width="18px" height="18px" alt="delete")
        .todo__action
          button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect btn__Add") Add
          button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect btn__Save") Save
          button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect btn__Clear") Clear
