@font-face {
  font-family: 'Niconne-Regular';
  src: url('/assets/fonts/Niconne/Niconne-Regular.eot');
  src: url('/assets/fonts/Niconne/Niconne-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Niconne/Niconne-Regular.svg#Niconne-Regular') format('svg'),
       url('/assets/fonts/Niconne/Niconne-Regular.ttf') format('truetype'),
       url('/assets/fonts/Niconne/Niconne-Regular.woff') format('woff'),
       url('/assets/fonts/Niconne/Niconne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

